*, *::before, *::after { font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    margin: 0; 
    padding: 0;         
    border: 0; 
    box-sizing: border-box;
    font-size: 23px;
}

:root {
    --deep-blue: #050A30;
    --off-white: #d1cbcb;
    --sky-blue: skyblue;
    --purple: purple;
} 


body{ background-color: var(--deep-blue);
    color: var(--off-white);

}

nav { display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    color: var(--off-white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.container {
    width: 800px;
    max-width: 80%;
    background-color: var(--off-white);
    border-radius: 5px;
    color: var(--deep-blue);
    padding: 15px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 25px;
    margin: 13px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 30px;
    border: 4px solid var(--deep-blue) ;
    background-color: var(--sky-blue);
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
}

.btn:hover {
    background-color: var(--purple) ;
}

.start-btn {
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 15px;
    
}

.next-btn {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: 8px;
    
}

.start-btn:hover {
    background-color: green;
}

.controls { 
    display: flex;
    justify-content: space-around

}