* { font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    background-color: var(--deep-blue);
    color: var(--off-white);
    margin: 0; 
    padding: 0;         
    border: 0; 
}

:root {
    --deep-blue: #050A30;
    --off-white: #d1cbcb;
} 

body {

}

nav { display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}

